body {
 max-width:680px;
 margin:auto;
 padding:20px;
 text-align:justify;
 line-height:140%;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-smoothing:antialiased;
 color:#222;
 font-family:Palatino,Georgia,"Times New Roman",serif
}
